body {background-color: rgb(204, 201, 201);}
h1{font-size: 40px; margin: 
}
.container 
{margin: 0 auto;
    width: 500px;
background-color: white;}

#fecha {color: gray;}
#fecha2 {color: gray;}
#fecha3 {color: gray;}
.post-titulofoto {display: flex;
    align-items: center;}

h2 {width: 90%;}

img {width: 100%;}

h2,p {padding: 15px;}
